<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatwell </title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/restaruants.css">
</head>
<body>
    <header>
        <div id="logo"><a href="/">Eatwell</a></div>
        <nav>
            <ul>
                <li id="nav-item"><a href="/Restaruant">Browser Restaruant</a></li>
                <li id="nav-item"><a href="/recommend">Share a Restaruant</a></li>
                <li id="nav-item"><a href="/about">About us</a></li>
            </ul>
    </header>
    <main>
        <h1>Successfully Saved</h1>
        <p>your Restaruant was Successfully added to our list</p>
    </main>
</body>
</html>