<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatwell</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/Restaruants.css">
</head>
<body>
    <header>
        <div id="logo"><a href="/">Eatwell</a></div>
        <nav>
            <ul>
                <li id="nav-item"><a href="/restaruants">Browser Restaruant</a></li>
                <li id="nav-item"><a href="/recommend">Share a Restaruant</a></li>
                <li id="nav-item"><a href="/about">About us</a></li>
            </ul>
    </header>
    <main>
        <h1>Make the world Tasiter</h1>
        <p>Share user favorite Restaruants or find recommendation for other users</p>
        <ul>
            <li><a href="/restaruants">Browser Shared Restaruant</a></li>
            <li><a href="/recommend">Share your favorite Restaruant</a></li>
        </ul>
    </main>
</body>
</html>